
.therapistCard{
    background-color: rgb(114, 177, 171);
    width: 90px;
    height: 200px;
    
}

.homePage{

    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 0;
    margin: 0;
}
.bg-light {
    background-color: #f8f9fa00!important;
}

.article{
    margin-top: 17vh;
    margin-right: 10vw;
    font-size: 150%;
    font-family: inherit;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    color: white;
}
.slogen{
    font-weight: 600;
    font-size: 170%;
    margin-bottom: 1vh;
}
#labal{
    margin-bottom: .5rem;
    color: #69c5c1;
    font-weight: 700;
    font-size: large;
}

#labal:hover{
    color: white !important;
}
#img_read_more{
    
    width: 10vw;
    margin-right: -12vw;
    margin-top: 5vh;
    box-shadow: 0 0 4px 3px #a5a0a0;
}

#img_to_therapists{
    width: 14vw;
    margin-top: 27vh;
    float: right;
    margin-right: 20vw;
    box-shadow: 0 0 9px 2px #c0c0c0;
}

.TitleReadMore
{
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.readMore
{
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 0;
    margin: 0;
}
.therapists
{
    
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 0;
    margin: 0;
}

.therapists_header
{
    text-align: center;
    background-color:darkcyan;
    height:5vw;
    font-size: medium;
}


.homepage_header{
    text-align: left;

    font-size: medium;
}

#icon{
    float: right !important;
}

.label{
    margin-bottom: .5rem;
    color: #69c5c1;
    font-weight: 700;
    font-size: x-large;
}

.label:hover{
    color: white !important;
}

#in{
    margin-left: 1vw;
    color: white;
}
#in:hover
{
    color:chartreuse;
}
#up{
    margin-left: 2vw;
    color: white;
}
#up:hover
{
    color:chartreuse;
}

#label
{
    margin-top: 10vh;
}

.signup{
    text-align: center;
    background-color:rgb(29,150,161);
    width: 66vw;
    height: 44vw;
    margin-top: 10vw;
    margin-right: 15vw;
}

.input
{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color:lawngreen;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-left: 0vh !important;
    margin-bottom: 1%;
}
/* 
/* font-size-adjust: 10%;
     FONT-SIZE: 15px;   */
   /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* padding:10px 11px; */
    /* BORDER-RIGHT: 0.5px solid;

    font-size-adjust: 10%;
    FONT-SIZE: 15px;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    BORDER-RIGHT: 0.5px solid;

    BORDER-TOP: 0.5px solid;
    BORDER-LEFT: 0.5px solid;
    BORDER-BOTTOM: 0.5px solid; */
    /* BORDER-color:white;
    background-origin: initial;
    background-size: initial;
    /* background-color:transparent;  */ 

/* . {
    grid-area: 2 / 4 / 6 / 10  !important; 
} */


.form-control{
    width: 50% ;
    margin-top: 10%;
    margin-left: 0vh;
}
.form-control:focus {
    box-shadow: black !important;
    border-color: white;
    display: grid;
}

#login{
    justify-content: center !important;
}


.readMore
{
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 0;
    margin: 0;
}
.therapists
{
    
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 0;
    margin: 0;
}
.therapists_header
{
    text-align: center;
  background-color:darkcyan;
  height:5vw;
      font-size: medium;

}
.homepage_header{
    text-align: left;
   
    font-size: medium;
}

#icon{
    float: right !important;
}



