
.therapistCard{
    background-color:white;
    width: 90px;
    height: 200px;
    inline-size: 10%;
    box-shadow: 0 0 20px 0px #766c6c;
    text-align: -webkit-center;
    display: flex;
    flex-direction: column;
}

#thImage{
    
    width: 6vw;
    box-shadow: 0 0 6px 2px grey;
    /* margin: 7% 9%; */
    margin-right: auto;
    margin-left: auto;
}

.therapists_table{
    list-style: square;
}

#x
{
    margin-bottom: 50%;
    /* width: 45vw;
    height: 50vh; */
  
}
.homePage{

    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 0;
    margin: 0;
}
.bg-light {
    background-color: #f8f9fa00!important;
}

.article{
    margin-top: 17vh;
    margin-right: 10vw;
    font-size: 150%;
    font-family: inherit;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    color: white;
    z-index: -1;
}
.slogen{
    font-weight: 600;
    font-size: 170%;
    margin-bottom: 1vh;
    z-index: -1;
}
#labal{
    margin-bottom: .5rem;
    color: #69c5c1;
    font-weight: 700;
    font-size: large;
}

#labal:hover{
    color: white !important;
}
#img_read_more{
    
    width: 10vw;
    margin-right: -12vw;
    margin-top: 5vh;
    box-shadow: 0 0 4px 3px #a5a0a0;
}

#img_to_therapists{
    width: 14vw;
    margin-top: 27vh;
    float: right;
    margin-right: 20vw;
    box-shadow: 0 0 9px 2px #c0c0c0;
}

.TitleReadMore
{
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.readMore
{
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 0;
    margin: 0;
}

.main_content_div{
    
    background-color: #ccdada94;
    width: 100vw;
    height: 100%;
    margin-left: 20%;
    margin-right: 20%;
}

.therapists
{
    
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 0;
    margin: 0;
}

.therapists_header
{
    text-align: center;
    background-color:#ccdada94;
    height:5vw;
    font-size: medium;
}


.homepage_header{
    text-align: left;

    font-size: medium;
}

#icon{
    float: right !important;
}

.label{
    margin-bottom: .5rem;
    color: #69c5c1;
    font-weight: 700;
    font-size: x-large;
}

.label:hover{
    color: white !important;
}

#in{
    margin-left: 1vw;
    color: white;
}
#in:hover
{
    color:chartreuse;
}
#up{
    margin-left: 2vw;
    color: white;
}
#up:hover
{
    color:chartreuse;
}

#label
{
    margin-top: 10vh;
}

.signup{
    text-align: center;
    background-color:rgb(47,172,166);
    width: 45vw;
    height: 65vh;
    margin-bottom: 50% !important;
    /* display: none; */
    margin-top: 20vw;
    margin-right: 15vw;
}

.input
{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color:lawngreen;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-left: 0vh !important;
    margin-bottom: 1%;
}
/* 
/* font-size-adjust: 10%;
     FONT-SIZE: 15px;   */
   /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* padding:10px 11px; */
    /* BORDER-RIGHT: 0.5px solid;

    font-size-adjust: 10%;
    FONT-SIZE: 15px;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    BORDER-RIGHT: 0.5px solid;

    BORDER-TOP: 0.5px solid;
    BORDER-LEFT: 0.5px solid;
    BORDER-BOTTOM: 0.5px solid; */
    /* BORDER-color:white;
    background-origin: initial;
    background-size: initial;
    /* background-color:transparent;  */ 

/* . {
    grid-area: 2 / 4 / 6 / 10  !important; 
} */


/* .form-control{
    width: 50% ;
    margin-top: 10%;
    margin-left: 0vh;
} */
.form-control:focus {
    box-shadow: black !important;
    border-color: white;
    display: grid;
}

#login{
    justify-content: center !important;
}

.modal-title {
    color: white;
}

.modal-header {
    padding: 0.5rem 1rem;
}

.readMore
{
    /* width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 0;
    margin: 0; */
}
/* 
.inf_therapist
{
    
    color:white;
    margin-right: 10%;
    margin-top:2.5%;
    width: 20vw;
    height: 15vw;

} */


.carousel.slide{
    width: 65% !important; 
    height: 25%!important;
    margin-right: 15% !important;
    margin-left: 10% !important;
}

.main_content{
    margin-top:5%;
    background-color: #fcfcfc82;
    box-shadow: 0 0 16px 7px #ffffffcc;
    width: 60%;
    height: 100%;
    margin-right: 20%;
}
#name.form-control{
     margin-right: 20%;
     margin-top: 10%;
     width: 15vw;
     height: 5vh;
}

#first_name{
    border-radius: 1px;
    background-color: transparent;
    margin-right: 20%;
    margin-top: 10%;
    width: 16vw;
    height: 6vh;
}
#id{
    border-radius: 1px;
    background-color: transparent;
    color: white;
    margin-right: 20%;
    margin-top: 2%;
    width: 16vw;
    height: 6vh;
}
#Phone1{
    border-radius: 1px;
    background-color: transparent;
    margin-right: 20%;
    margin-top: 2%;
    width: 16vw;
    height: 6vh;
}

#last_name{
    border-radius: 1px;
    margin-right: -7%;
    background-color: transparent;
    margin-top: 10%;
    width: 16vw;
    height: 6vh;
}
#date{
    border-radius: 1px;
    margin-right: -7%;
    background-color: transparent;
    margin-top: 2%;
    width: 16vw;
    height: 6vh;
}
#Phone2{
    border-radius: 1px;
    margin-right: -7%;
    background-color: transparent;
    margin-top: 2%;
    width: 16vw;
    height: 6vh;
}
#email{
    border-radius: 1px;
    margin-right: 30%;
    background-color: transparent;
    margin-top: 1%;
    width: 16vw;
    height: 6vh;
}
#password{
    border-radius: 1px;
    background-color: transparent;
    color: white;
    margin-right: 20%;
    margin-top: 2%;
    width: 16vw;
    height: 6vh;
}
#confirm_password
{
    border-radius: 1px;
    margin-right: -7%;
    background-color: transparent;
    margin-top: 2%;
    width: 16vw;
    height: 6vh;
}


#first_name::placeholder
{
    color:white;
}
#id::placeholder
{
    color:white;
}


#Phone1::placeholder
{
    color:white;
}

#last_name::placeholder
{
    color:white;
}
#date::placeholder
{
    color:white;
}
#Phone2::placeholder
{
    color:white;
}
#email::placeholder
{
    color:white;
}
#password::placeholder
{
    color:white;
}
#confirm_password::placeholder
{
    color:white;
}
.h{
    color:white;
}
#arrow{
    width: 5vw;
    height: 9vh;
    margin-right: 74%;
    margin-top: -15%;
    box-shadow: #a5a0a0;;
}
.headerSignUp
{
    margin-top:2%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.signupTh{
    width: 55vw;
    height: 65vh;
    margin-top: 5vw;
    margin-right: 15vw;
    background-color: rgb(76,200,166);
}
.login
{
    width: 55vw;
    height: 65vh;
    margin-top: 5vw;
    margin-right: 15vw;
    background-color: rgb(76,200,166);
}