.therapistPage{
   /* width: 100%;
    height: 100%;
    
     grid-template-columns: repeat(70px, 1fr);
    grid-row: auto; */
    width: 100vw;
    height: 100vh;
    position: absolute;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row: auto;
   
}

#details-card{
    width: 300px;
    height: 120px;
    background-color: white;
    /* grid-column: 7/11;
    grid-row: 2/4; */
}

#feedbacks{
    /* grid-column: 2/5;
    grid-row: 2/8; */
}

#calendar-id{
    /* grid-column: 6/11;
    grid-row: 5/10; */
}