#clause{
    background-color: transparent;
    width: fit-content;
}

label{
    font-weight: 700;
    font-size: large;
    color: #1b7684;
    text-shadow: 0 0 6px white;
}

#title{
    font-size: x-large;
}

#note{
    font-size: medium;
}
#about_us{
    color: white;
    text-shadow: 0 0 6px #1b7684;
}
#about_us_title{
    color: #1b7684;
    text-shadow: 0 0 6px white;
}

/* h1,h2,h4{
    color: white !important;
    text-shadow: 0 0 6px #1b7684;
} */